body {
  background: #FFF8F3;
  color: #333665;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-style: none;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

button {
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 15px 35px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 2px dashed #333665;
  background: #333665;
}

button:hover {
  color: #FFFFFF !important;
  background: 333665;
}

footer {
  color: white;
  background-color: #192739;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 7% 5%;
}

ul {
  padding: 0;
}

a:visited {
  color: #333665;
}

a:hover {
  text-decoration: none;
}

.top-container {
  padding: 1% 5%;
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  padding: 1% 2%;
}

.nav-logo {
  grid-column: 1 /2;
}

.nav-list {
  text-align: right;
  padding
}

.nav-list ul li {
  display: inline;
  grid-column: 2 / 3;
  list-style-type: none;
  padding: 0 2%;
  text-decoration: none;
}

.couple-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 2% 0 0 0;
}

.top-buttons {
  margin-top: 3%;
  margin-right: 2%;
}

.main-text {
  grid-column: 1/2;
  line-height: 1.5;
  padding: 0 5%;
}

.top-picture {
  grid-column: 2/3;
}

.phonenav-pic {
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.middle-container {
  padding: 1% 5% 2% 5%;
}

.explaining-product {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 2%;
  grid-column-gap: 2%;
}

.middle-picture1 {
  color: white;
  background-color: #09D898;
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 10%;
}

.middle-picture-explanation2 {
  grid-column: 1/2;
  grid-row: 2/3 padding: 5%;
}

.middle-picture3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.moodring-pic {
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.bottom-container {
  padding: 1% 5% 2% 5%;
}

.partnership {
  color: white;
  display: grid;
  background-color: #41D5FF;
  border-radius: 15px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5%;
  justify-items: center;
  padding: 5%;
}

.sponsor-img {
  height: auto;
  width: 200px;
}

.middle-picture-explanation3 {
  grid-column: 2/3;
  grid-row: 4/5;
  border-radius: 2%;
}

.social-media {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bottom-btn {
  padding-top: 3%;
}

.icon {
  padding-right: 3%;
}

.support {
  grid-column: 2/3;
  grid-row: 1/2;
}

.support ul li {
  list-style: none;
}

.livemap {
  grid-column: 3/4;
  grid-row: 1/2
}

.livemap ul li {
  list-style: none;
}

.about {
  grid-column: 4/5;
  grid-row: 1/2;
}

.about ul li {
  list-style: none;
}

.partners {
  grid-column: 5/6;
  grid-row: 1/2;
}

.partners ul li {
  list-style: none;
}

#list-word {
  font-weight: 500;
}

#listing {
  color: #C5C9CD;
  line-height: 2;
}

#spot {
  padding-bottom: 2%;
}
